#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#form div div {
  margin-left: 120px;
  width: 500px;
  padding: 0px;
  font-family: sans-serif;
}

#form div div label {
  margin-left: 150px;
  padding: 0px;
}

#form div div label text {
  margin-left: 200px;
  padding: 0px;
}
